<div class="container">
  <h1>Module federation</h1>
  <b>This application requires angular cli version 12 to work!</b>
  <p>This repository is to show how you can use this applicaiton. However this is not part of the demonstration. There are multiple projects inside the project folder these are:</p>
  <ul>
    <li>Shell</li>
    <li>login</li>
    <li>inventory</li>
    <li>exam</li>
    <li>cool-ui</li>
    <li>auth</li>
  </ul>

  <p>These projects mean the following</p>

  <h2>shell</h2>
  <p>The shell application is the host application in which the other features are running. The shell will also provide some general styling and some shared state for all the other applications</p>

  <h2>Cool ui</h2>
  <p>A ui libary used by the shell and the features</p>

  <h2>Auth</h2>
  <p>A service that provides some global state for every user</p>

  <h2>Login, inventory and exam-app</h2>
  <p>Features that will be laoded inside the application they use the components from cool-ui and get some global state from auth</p>

  <h2>test the project</h2>
  <p>To start the project do the following</p>
  <ol start="0">
    <li>Build every project using the build scripts in the package.json (<pre>npm run build</pre>)</li>
    <li>Serve every project using the serve scripts in the package.json</li>
  </ol>
  <i>If you now open the shell (running on port <a href="http://localhost:5000">5000</a>) you see the applicaiton running you can check the devtools and see if you navigate to the exam app page that it will be fetched from the exam app server</i>
  <ol start="2">
    <li>close the exam app</li>
    <li>make some changes</li>
    <li>build the exam app agian</li>
    <li>serve the exam app again</li>
  </ol>

  <p>
    Your changes will be applied and are visible from withing the shell. So people can start using the the new feature inside the shell without rebuilding the shell.
  </p>  

  <h2>Some usefull links</h2>
  <a href="https://webpack.js.org/concepts/module-federation/">webpack</a> <br>
  <a href="https://www.angulararchitects.io/en/aktuelles/the-microfrontend-revolution-part-2-module-federation-with-angular/">Module federation in angular</a>
  <address>
    Johan <br>
    <a href="mailto:Johan@cloudwise.nl">Johan@cloudwise.nl</a>
  </address>
</div>