*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 16px;
    font-size: 1.25rem;
}

p {
    margin-top: 8px;
}

ul, ol {
    margin-top: 16px;
    list-style-position: inside;
}

i {
    display: block;
    margin-top: 16px !important;
}

address {
    margin-top: 32px;
}

a {
    color: rgb(92, 145, 243);
    text-decoration: none;
}